/*=============================================
=            Colors                          =
=============================================*/
$BLACK: #323232;
$SILVER: #afafaf;
$MERCURY: #e1e1e1;
$ALABASTER: #FAFAFA;
$BLUE: #0095ff;
$DARKBLUE: #0065ad;
