@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Regular.otf");
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Demi.otf");
  font-weight: 550;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Bold.otf");
  font-weight: bold;
}

body {
  font-family: AvenirNext;
}

body h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

body h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 550;
}

body h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

body h5 {
  font-size: 12px;
  line-height: 20px;
  color: #afafaf;
  font-weight: normal;
}

@media (min-width: 768px) {
  body h4 {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
  }
  body h5 {
    font-size: 12px;
    line-height: 20px;
    color: #afafaf;
    font-weight: normal;
  }
}

header {
  margin: 0px 16px 16px 16px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

.flexContainer .logo {
  background: url("../assets/Logo/Logo-brainflix.svg") no-repeat center;
  background-size: contain;
  height: 28px;
  min-width: 120px;
  width: 200px;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexContainer #searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContainer #searchForm__input {
  height: 48px;
  width: 100%;
  background: url("../assets/Icons/SVG/Icon-search.svg") no-repeat #FAFAFA;
  background-size: 20px;
  background-position: calc(3% + 5px) 50%;
  text-indent: calc(20px + 8px + 3%);
  border: 1px #e1e1e1 solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: AvenirNext;
  font-size: 14px;
  line-height: 18px;
}

.flexContainer #searchForm__input:active {
  border-color: #0095ff;
}

.flexContainer #searchForm .uploadContainer {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.flexContainer #searchForm .uploadContainer #searchForm__uploadButton {
  height: 48px;
  width: 100%;
  margin-right: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: AvenirNext;
  text-indent: 15px;
  background: #0095ff url("../assets/Icons/SVG/Icon-upload.svg") no-repeat;
  background-size: 15px;
  background-position: calc(50% - (15px* 2)) 50%;
  padding-top: 5px;
}

.flexContainer #searchForm .uploadContainer #searchForm__uploadButton:hover {
  background-color: #0065ad;
}

.flexContainer #searchForm .uploadContainer .profile-avatar {
  background: url("../assets/Images/Mohan-muruge.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  min-height: 48px;
  min-width: 48px;
}

@media (min-width: 768px) {
  header {
    margin: 16px 24px 16px 24px;
  }
  .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 48px;
  }
  .flexContainer .logo {
    height: 48px;
    margin: 0px 180px 0px 0px;
  }
  .flexContainer #searchForm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .flexContainer #searchForm__input {
    margin-right: 24px;
  }
  .flexContainer #searchForm .uploadContainer {
    margin-top: 0px;
    max-width: 200px;
  }
}

@media (min-width: 1440px) {
  header {
    margin: 16px 180px;
  }
  .flexContainer .logo {
    margin: 0px 35% 0px 0px;
  }
}

.video {
  position: relative;
  background-color: black;
  height: 45vw;
  width: 100%;
  min-height: 200px;
  max-height: 45vw;
}

.video__container {
  height: inherit;
  min-height: inherit;
  overflow: hidden;
}

.video__frame {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  min-height: inherit;
}

.video__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: 15%;
}

.video__controls button,
.video__controls .scrubBar {
  width: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border-radius: 4px;
  border: none;
}

.video__controls .scrubBar,
.video__controls .play {
  background-color: rgba(0, 0, 0, 0.55);
}

.video__controls .scrubBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  width: 100%;
}

.video__controls .scrubBar__timeline {
  background-color: black;
  height: 12%;
  width: 90%;
  position: relative;
}

.video__controls .scrubBar__scrub {
  display: none;
  background-image: url("../assets/Icons/SVG/Icon-scrubber-control.svg");
  background-size: contain;
  position: relative;
  height: calc(3 * 3%);
  width: calc(3 * 3%);
  bottom: calc(2 / 3 * 3%);
  left: -2.4%;
  z-index: 2;
}

.video__controls .scrubBar__time {
  display: none;
}

.video__controls .buttons-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 95px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.55);
  margin-right: 16px;
}

.video__controls .play {
  margin: 0px 8px 0px 16px;
  background-size: 25%;
}

.video__controls .play--play {
  background-image: url("../assets/Icons/SVG/Icon-play.svg");
}

.video__controls .play--pause {
  background-image: url("../assets/Icons/SVG/Icon-pause.svg");
}

.video__controls .fullscreen {
  background-image: url("../assets/Icons/SVG/Icon-fullscreen.svg");
  opacity: 1;
  background-color: transparent;
}

.video__controls .volume {
  background-image: url("../assets/Icons/SVG/Icon-volume.svg");
  background-color: transparent;
}

@media (min-width: 768px) {
  .video__container {
    margin: 0px 24px;
  }
  .video__controls {
    height: 8%;
    width: calc(100% - 48px);
  }
  .video__controls .scrubBar__timeline {
    width: calc(100% - 100px);
    margin-left: 16px;
  }
  .video__controls .scrubBar__time {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 10px;
    display: inline-block;
    color: white;
  }
  .video__controls .buttons-right {
    width: 80px;
  }
  .video__controls .play {
    margin-left: 8px;
    margin-right: 16px;
  }
}

@media (min-width: 1440px) {
  .video {
    height: 38vw;
  }
  .video__container {
    margin-left: 248px;
    margin-right: 248px;
  }
  .video__controls {
    height: 7%;
    width: calc(100% - calc(2 *248px));
  }
  .video__controls .scrubBar__timeline {
    width: calc( 100% - 100px);
  }
  .video__controls .scrubBar__time {
    margin-left: 16px;
    font-size: 10px;
    display: inline-block;
    color: white;
  }
  .video__controls .buttons-right {
    width: 70px;
  }
  .video__controls .play {
    margin-left: 16px;
  }
}

.videoMeta {
  margin-bottom: 28px;
}

.videoMeta h1 {
  margin: 0px 0px 16px 0px;
}

.videoMeta h4 {
  margin-top: 24px;
  margin-bottom: 0px;
}

.videoMeta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.videoMeta .postedContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoMeta .postedContainer h2,
.videoMeta .postedContainer h5 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.videoMeta .postedContainer h2 {
  margin-right: 8px;
}

.videoMeta .reactionMeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
}

.videoMeta .reactionMeta h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.videoMeta .reactionMeta__views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.videoMeta .reactionMeta__views .viewsIcon {
  background: url("../assets/Icons/SVG/Icon-views.svg") no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.videoMeta .reactionMeta__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoMeta .reactionMeta__likes .likesIcon {
  background: url("../assets/Icons/SVG/Icon-likes.svg") no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.videoMeta hr {
  color: #e1e1e1;
}

@media (min-width: 768px) {
  .videoMeta {
    margin-bottom: 64px;
  }
  .videoMeta h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
  }
  .videoMeta h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 550;
  }
  .videoMeta .description {
    width: 80%;
    margin-top: 40px;
  }
  .videoMeta__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 24px 0px;
  }
  .videoMeta .reactionMeta {
    margin: 0px;
  }
}

@media (min-width: 1440px) {
  .videoMeta .description {
    width: 85%;
  }
  .videoMeta .reactionMeta {
    margin-right: 32px;
  }
}

.avatar {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(45px + 5px);
  width: calc(45px + 5px);
}

.submission__commentCount {
  margin-top: 0px;
  margin-bottom: 32px;
}

.submission__title {
  margin: 0px 0px 0px calc(calc(45px + 5px) + 16px);
}

.submission__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submission__container .submission__avatar {
  margin-right: 16px;
}

.submission__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.submission__container .inputGroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submission__container textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  border: 1px #e1e1e1 solid;
  background-color: #FAFAFA;
  font-family: AvenirNext;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
}

.submission__container textarea:active {
  border-color: #0095ff;
}

.submission__container button {
  background-color: #0095ff;
  color: white;
  height: 45px;
  border: none;
  margin-top: 16px;
  margin-bottom: 24px;
  font-family: AvenirNext;
  padding-top: 5px;
  border-radius: 4px;
}

.submission__container button:hover:enabled {
  background-color: #0065ad;
}

.submission__container button:disabled {
  opacity: 0.4;
  background-color: #0065ad;
}

@media (min-width: 768px) {
  .submission {
    margin-top: 20px;
  }
  .submission__container {
    margin-bottom: 24px;
  }
  .submission__container form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .submission__container textarea {
    height: 45px;
    width: 100%;
  }
  .submission__container button {
    margin: 0px;
    margin-left: 16px;
    margin-right: 40px;
    width: 230px;
  }
}

.success-tip, .submissionMsg--success {
  display: block;
  background-color: #dff2bf;
  border: 1px solid #b8d980;
  border-radius: 7px;
  color: #4BB543;
  float: left;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  padding: 7px 11px 4px;
  margin-left: 25px;
}

.success-tip:after, .submissionMsg--success:after, .success-tip:before, .submissionMsg--success:before {
  content: '';
  border: 7px solid transparent;
  position: absolute;
  top: -14px;
}

.success-tip:after, .submissionMsg--success:after {
  border-bottom: 7px solid #b8d980;
  left: 30px;
}

.success-tip:before, .submissionMsg--success:before {
  border-bottom: 7px solid #b8d980;
  left: 31px;
}

.submissionMsg--success {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 80%;
}

.error-tip, .submissionMsg--error {
  display: block;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  border-radius: 7px;
  color: #cc0033;
  float: left;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  padding: 7px 11px 4px;
  margin-left: 25px;
}

.error-tip:after, .submissionMsg--error:after, .error-tip:before, .submissionMsg--error:before {
  content: '';
  border: 7px solid transparent;
  position: absolute;
  top: -14px;
}

.error-tip:after, .submissionMsg--error:after {
  border-bottom: 7px solid #fce4e4;
  left: 30px;
}

.error-tip:before, .submissionMsg--error:before {
  border-bottom: 7px solid #fcc2c3;
  left: 31px;
}

.submissionMsg--error {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 80%;
}

.submissionMsg--hidden {
  display: none;
}

.comment {
  margin: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__avatar {
  margin-right: 16px;
}

.comment__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment__titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.comment__name {
  margin: 0px;
}

.comment__text {
  margin: 0px;
  margin-right: 40px;
}

.comment__date {
  color: #afafaf;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__date h5 {
  margin: 0px;
}

@media (max-width: 350px) {
  .comment .comment__titleContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .comment .comment__date {
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .comment {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .comment__titleContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comment__name {
    margin-right: 10px;
  }
}

.relatedVideos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relatedVideos__title {
  margin: 40px 0px;
}

.videoCard {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoCard__img {
  border-radius: 4px;
  height: 70px;
  width: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.videoCard__text {
  margin-left: 16px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videoCard__title {
  margin: 2px 0px;
  height: calc(22px * 2);
  max-width: 183px;
  overflow: hidden;
}

.videoCard__channel {
  margin: 0px;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .relatedVideos {
    margin-left: 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .relatedVideos__title {
    margin-top: 0px;
  }
  .videoCard {
    margin-bottom: 0px;
  }
  .videoCard__text {
    min-width: 183px;
  }
}

hr {
  color: #e1e1e1;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainFlexContainer {
  margin: 32px 16px 5px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .mainFlexContainer {
    margin: 48px 24px 16px 24px;
  }
}

@media (min-width: 1440px) {
  .mainFlexContainer {
    margin-right: 180px;
    margin-left: 180px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=App.css.map */