@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Regular.otf");
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Demi.otf");
  font-weight: 550;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Bold.otf");
  font-weight: bold;
}

body {
  font-family: AvenirNext;
}

header {
  margin: 0px 16px 16px 16px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

.flexContainer .logo {
  background: url("../assets/Logo/Logo-brainflix.svg") no-repeat center;
  background-size: contain;
  height: 28px;
  min-width: 120px;
  width: 200px;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexContainer #searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexContainer #searchForm__input {
  height: 48px;
  width: 100%;
  background-color: #fafafa;
  background: url("../assets/Icons/SVG/Icon-search.svg") no-repeat;
  background-size: 20px;
  background-position: 5px 50%;
  text-indent: calc(20px + 5px);
  border: 1px #e1e1e1 solid;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flexContainer #searchForm .uploadContainer {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.flexContainer #searchForm .uploadContainer #searchForm__uploadButton {
  height: 48px;
  width: 100%;
  margin-right: 16px;
  border: none;
  border-radius: 4px;
  color: white;
  text-indent: 10px;
  background: #0095ff url("../assets/Icons/SVG/Icon-upload.svg") no-repeat;
  background-size: 20px;
  background-position: calc(50% - (20px* 1.5)) 50%;
}

.flexContainer #searchForm .uploadContainer .profile-avatar {
  background: url("../assets/Images/Mohan-muruge.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  min-height: 48px;
  min-width: 48px;
}

@media (min-width: 768px) {
  header {
    margin: 16px 24px 16px 24px;
  }
  .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 48px;
  }
  .flexContainer .logo {
    height: 48px;
    margin: 0px 180px 0px 0px;
  }
  .flexContainer #searchForm {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .flexContainer #searchForm__input {
    margin-right: 24px;
  }
  .flexContainer #searchForm .uploadContainer {
    margin-top: 0px;
    max-width: 250px;
  }
}

@media (min-width: 1280px) {
  header {
    margin: 16px 180px;
  }
  .flexContainer .logo {
    margin: 0px 35% 0px 0px;
  }
}

.video {
  position: relative;
  background-color: black;
  height: 45vw;
  width: 100%;
  min-height: 200px;
}

.video__container {
  height: inherit;
  min-height: inherit;
}

.video__frame {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  min-height: inherit;
}

.video__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 15px;
  width: 100%;
  height: calc(5 *3%);
}

.video__controls button,
.video__controls .scrubBar {
  width: 65px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.55);
}

.video__controls .scrubBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  width: 100%;
}

.video__controls .scrubBar__timeline {
  background-color: black;
  height: 12%;
  width: 90%;
  position: relative;
}

.video__controls .scrubBar__scrub {
  display: none;
  background-image: url("../assets/Icons/SVG/Icon-scrubber-control.svg");
  background-size: contain;
  position: relative;
  height: calc(3 * 3%);
  width: calc(3 * 3%);
  bottom: calc(2 / 3 * 3%);
  left: -2.4%;
  z-index: 2;
}

.video__controls .scrubBar__time {
  display: none;
}

.video__controls .play {
  background-image: url("../assets/Icons/SVG/Icon-play.svg");
  margin: 0px 8px 0px 16px;
}

.video__controls .fullscreen {
  background-image: url("../assets/Icons/SVG/Icon-fullscreen.svg");
  opacity: 1;
  margin-left: auto;
}

.video__controls .volume {
  background-image: url("../assets/Icons/SVG/Icon-volume.svg");
  margin-right: 16px;
}

@media (min-width: 768px) {
  .video__container {
    margin: 0px 24px;
  }
  .video__controls {
    height: 10%;
    width: calc(100% - 48px);
  }
  .video__controls .scrubBar__timeline {
    width: calc(100% - 100px);
    margin-left: 16px;
  }
  .video__controls .scrubBar__time {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 10px;
    display: inline-block;
    color: white;
  }
  .video__controls .play {
    margin-left: 8px;
    margin-right: 16px;
  }
  .video__controls .fullscreen {
    margin-left: 16px;
  }
  .video__controls .volume {
    margin-right: 8px;
  }
}

@media (min-width: 1280px) {
  .video__container {
    margin-left: 168px;
    margin-right: 168px;
  }
  .video__controls {
    height: 6%;
    width: calc(100% - 336px);
  }
  .video__controls .scrubBar__timeline {
    width: calc( 100% - 100px);
  }
  .video__controls .scrubBar__time {
    margin-left: 16px;
    font-size: 10px;
    display: inline-block;
    color: white;
  }
  .video__controls .play {
    margin-left: 16px;
  }
  .video__controls .volume {
    margin-right: 16px;
  }
}
/*# sourceMappingURL=App.css.map */