main {
  margin: 0px 16px;
}
.upperDivider {
  border: 1px solid $ALABASTER;
  color: $ALABASTER;
}
.lowerDivider {
  display: none;
}
h1 {
  margin-top: 24px;
  margin-bottom: 32px;
}
.upload-container {
  display: flex;
  flex-direction: column;

  h5 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .thumbnail__image {
    width: 100%;
    min-height: 153px;
    height: 35vw; //TODO probably lower this on tab/mobile
    border-radius: 4px;
    margin-bottom: 32px;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      padding: 10px;
      border-radius: 4px;
      border: 1px $MERCURY solid;
      background-color: $ALABASTER;
      font-family: AvenirNext;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 24px;
    }

    textarea {
      box-sizing: border-box;
      resize: none;
      padding: 10px;
      border-radius: 4px;
      border: 1px $MERCURY solid;
      background-color: $ALABASTER;
      font-family: AvenirNext;
      font-size: 14px;
      line-height: 22px;
      width: 100%;
      height: 143px;
      &:active {
        border-color: $BLUE;
      }
    }
  }

  .buttonsDivider {
    display: hidden;
  }

  .buttonsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  $btnHeights: 48px;
  .publishBtn {
    border: none;
    border-radius: 4px;
    color: white;
    font-family: AvenirNext;
    background: $BLUE;
    height: $btnHeights;
    &:hover {
      background-color: $DARKBLUE;
    }
  }

  .cancelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    a {
      text-decoration: none;
      color: $BLUE;
    }
  }

  .buttonsDivider {
    display: none;
  }
}

@media (min-width: 767px) {
  main {
    margin: 0px 24px 120px 24px;
    h1 {
      //Nested to make more specific than the default body h1 style
      margin-top: 48px;
      @include mainHeaderStyle();
    }
  }

  .lowerDivider {
    display: block;
    margin-bottom: 40px;
  }

  .upload-container {
    .thumbnail__image {
      min-width: 344px;
      min-height: 183px;
      width: 43%;
      height: 20vw;
    }

    .buttonsDivider {
      display: block;
      margin-top: 40px;
    }

    .buttonsContainer {
      margin-top: 40px;
      flex-direction: row-reverse;
    }
    .publishBtn {
      width: 160px;
    }

    .cancelContainer {
      margin: 0px 48px 0px 0px;
    }
  }
} // Closes tablet media query

@media (min-width: 1440px) {
  main {
    margin: 0px 180px 400px 180px;
  }
  .main-content__flexContainer {
    display: flex;
  }

  .upload-container {
    .thumbnail {
      margin-right: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 45%;
    }
    .thumbnail__image {
      height: 11vw;
      margin-bottom: 0px;
      width: 100%;
      min-width: 0px;
    }
    form {
      flex-basis: 100%;

      textarea {
        height: 100%;
      }
    }
  }
}
