@import "./partials/colors";
@import "./partials/fonts";

@import "./partials/header";
@import "./partials/video";
@import "./partials/videoMeta";
@import "./partials/submitComment";
@import "./partials/comment";
@import "./partials/relatedVideo";

@import "./partials/upload";

//Set dividing line styling
  hr{
    color: $MERCURY;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

//Set body edge margins and page level flex containers
.mainFlexContainer{
  margin: 32px 16px 5px 16px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px){
  .mainFlexContainer{
    margin: 48px 24px 16px 24px;
  }
}

@media (min-width: 1440px){
  .mainFlexContainer{
    margin-right: 180px;
    margin-left: 180px;
    flex-direction: row;
  }
}