.commentsBlock {
  display: flex;
  flex-direction: column;
  margin: 0px 16px;
  margin-bottom: 40px;
}

.comment {
  width: 100%;
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .comment__name {
    margin: 0px;
  }

  .comment__date {
    color: $SILVER;
    margin: 0px; // Override 400px media query
    margin-left: auto;
    display: flex;
  }

  //Force date onto new row at 400px or less
  @media (max-width: 400px) {
    .comment__date {
      flex-basis: 100%;
      margin: 5px 0px 12px 0px;
    }
  }

  .comment__text {
    width: 100%;
    margin-top: 10px;
    overflow-wrap: break-word;
  }

  &__image {
    max-width: 20%;
    min-height: 55px;
    min-width: 55px;
    float: left;
    border-radius: 50%;
    background: url("../assets/Images/Mohan-muruge.jpg") no-repeat;

    background-size: cover;
    background-position: center;

    margin-right: 20px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
