.comment{
  margin: 16px 0px;
  display:flex;
  &__avatar{
    margin-right: 16px;
  }

  &__container{
    display:flex;
    flex-direction: column;
  }

  &__titleContainer{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
  }


  &__name{ 
    margin:0px;
  }

  &__text{
    margin: 0px;
  }
  
  &__date {
    color: $SILVER;
    margin: 0px; // Override 400px media query
    display: flex;
    
    h5{
      margin: 0px;
    }
  }
    //Force date onto new row
  @media (max-width: 350px) {
    .comment{

      &__titleContainer{
        flex-direction: column;
        align-items: flex-start;
      }
  
      &__date{
        margin-top: 5px;
      }
    }
  }
}

@media (min-width: 768px){
  .comment{
    &__titleContainer{
      justify-content: flex-start;
    }

    &__name{ 
      margin-right: 10px;
    }
  }
}