@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Regular.otf");
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Demi.otf");
  font-weight: 550;
}

@font-face {
  font-family: AvenirNext;
  src: url("../assets/fonts/Avenir-Bold.otf");
  font-weight: bold;
}
