$avatar-dimensions: 60px;
$header-font-size: 16px;
$cross-size: 20px;
$item-heights: 48px;
$search-img-size: 20px;

header {
  margin: 0px 16px 16px 16px;
}
.flexContainer {
  display: flex;
  flex-direction: column;
  font-size: $header-font-size;

  .logo {
    background: url("../assets/Logo/Logo-brainflix.svg") no-repeat center;
    background-size: contain;
    height: 28px;
    min-width: 120px;
    width: 200px;
    margin: 10px auto;
    box-sizing: border-box;
  }

  #searchForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__input {
      height: $item-heights;
      width: 100%;
      background-color: #fafafa;
      background: url("../assets/Icons/SVG/Icon-search.svg") no-repeat;
      background-size: $search-img-size;
      background-position: 5px 50%;
      text-indent: calc(#{$search-img-size} + 8px);

      border: 1px #e1e1e1 solid;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .uploadContainer {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      #searchForm__uploadButton {
        height: $item-heights;
        width: 100%;
        margin-right: 16px;
        border: none;
        border-radius: 4px;
        color: white;
        text-indent: ($cross-size / 2);
        //TODO unset this image if cut off on very small mobile
        background: $BLUE url("../assets/Icons/SVG/Icon-upload.svg") no-repeat;
        background-size: $cross-size;
        background-position: calc(50% - (#{$cross-size}* 1.5)) 50%;
      }
      .profile-avatar {
        background: url("../assets/Images/Mohan-muruge.jpg") no-repeat center;
        background-size: cover;
        border-radius: 50%;
        min-height: $item-heights;
        min-width: $item-heights;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    margin: 16px 24px 16px 24px;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    height: 48px;

    .logo {
      height: $item-heights;
      margin: 0px 180px 0px 0px;
    }

    #searchForm {
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;
      &__input {
        margin-right: 24px;
      }

      .uploadContainer {
        margin-top: 0px;
        max-width: 250px;
      }
    }
  }
} //Closes tablet media query

@media (min-width: 1280px) {
  header {
    margin: 16px 180px;
  }

  .flexContainer {
    .logo {
      margin: 0px 35% 0px 0px;
    }
  }
}
