$avatar-dimensions: 60px;
$mobile-edge-margins: 16px;
$header-font-size: 16px;
$cross-size: 20px;
$item-heights: 48px;
$search-img-size: 20px;

header {
  display: flex;
  flex-direction: column;
  margin: 0px $mobile-edge-margins $mobile-edge-margins $mobile-edge-margins;
  font-size: $header-font-size;

  .logo {
    background: url("../assets/Logo/Logo-brainflix.svg") no-repeat center;
    background-size: contain;
    height: $item-heights;
    min-width: 120px;
    width: 30%;
    margin: 10px auto;
    box-sizing: border-box;
  }

  #searchForm {
    margin: 0px 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__input {
      margin: 0px auto;
      height: $item-heights;
      width: 100%;
      background-color: #fafafa;
      background: url("../assets/Icons/SVG/Icon-search.svg") no-repeat;
      background-size: $search-img-size;
      background-position: 5px 50%;
      text-indent: calc(#{$search-img-size} + 5px);

      border: 1px #e1e1e1 solid;
      border-radius: 4px;
    }

    .uploadContainer {
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      #searchForm__uploadButton {
        height: $item-heights;
        width: calc(100% - #{$mobile-edge-margins} - #{$item-heights});
        margin-right: 16px;
        border: none;
        border-radius: 4px;
        color: white;
        text-indent: ($cross-size / 2);
        //TODO unset this image if cut off on very small mobile
        background: #0095ff url("../assets/Icons/SVG/Icon-upload.svg") no-repeat;
        background-size: $cross-size;
        background-position: calc(50% - (#{$cross-size}* 1.5)) 50%;
      }
      .profile-avatar {
        background-image: url("../assets/Images/Mohan-muruge.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        height: $item-heights;
        width: $item-heights;
      }
    }
  }
}

@media (min-width: 680px) {
  header {
    flex-direction: row;
  }
}
