.video {
  position: relative;
  &__frame {
    min-height: 200px;
    height: 45vw;
    width: 100%;
    object-fit: cover;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;

    //Variables
    $scrubHeight: 7.5px;
    $buttonHeight: calc(5 *#{$scrubHeight}); //TODO refactor out this

    button,
    .scrubBar {
      height: $buttonHeight;
      width: calc(#{$buttonHeight} * 1.5);
      background-repeat: no-repeat;
      background-position: center;
      // background-size: calc(0.75 * #{$buttonHeight});
      border-radius: 4px;
      border: none;
      background-color: rgba(black, 0.55);
    }

    .scrubBar {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 8px;

      width: 100%; //Scrub bar grows to fill space was we scale
      &__timeline {
        background-color: black;
        height: $scrubHeight;
        width: 90%;
        position: relative;
      }
      &__scrub {
        // not shown on mockups currently - hidden
        display: none;
        background-image: url("../assets/Icons/SVG/Icon-scrubber-control.svg");
        background-size: contain;
        position: relative;
        height: calc(3 * #{$scrubHeight});
        width: calc(3 * #{$scrubHeight});
        bottom: calc(2 / 3 * #{$scrubHeight});
        left: -(0.8 * $scrubHeight);
        z-index: 2;
      }
    }
    .play {
      background-image: url("../assets/Icons/SVG/Icon-play.svg");
      margin: 0px 8px 0px 16px;
    }

    .fullscreen {
      background-image: url("../assets/Icons/SVG/Icon-fullscreen.svg");
      opacity: 1;
      margin-left: auto; // Force to be stuck to volume button
    }

    .volume {
      background-image: url("../assets/Icons/SVG/Icon-volume.svg");
      margin-right: 16px;
    }
  }
}
