.video {
  position: relative;
  background-color: black;
  height: 45vw;
  width: 100%;
  min-height: 200px;

  &__container {
    height: inherit;
    min-height: inherit;
  }

  &__frame {
    width: 100%;
    object-fit: cover;
    height: 100%;
    min-height: inherit;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 15%;

    //Variables
    $scrubHeight: 3%;

    button,
    .scrubBar {
      width: 65px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 35%;
      border-radius: 4px;
      border: none;
      background-color: rgba(black, 0.55);
    }

    .scrubBar {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 8px;
      width: 100%; //Scrub bar grows to fill space was we scale
      &__timeline {
        background-color: black;
        height: $scrubHeight * 4;
        width: 90%;
        position: relative;
      }
      &__scrub {
        display: none; // not shown on mockups currently - hidden for now
        background-image: url("../assets/Icons/SVG/Icon-scrubber-control.svg");
        background-size: contain;
        position: relative;
        height: calc(3 * #{$scrubHeight});
        width: calc(3 * #{$scrubHeight});
        bottom: calc(2 / 3 * #{$scrubHeight});
        left: -(0.8 * $scrubHeight);
        z-index: 2;
      }
      &__time {
        display: none;
      }
    }
    .play {
      background-image: url("../assets/Icons/SVG/Icon-play.svg");
      margin: 0px 8px 0px 16px;
    }

    .fullscreen {
      background-image: url("../assets/Icons/SVG/Icon-fullscreen.svg");
      opacity: 1;
      margin-left: auto; // Force to be stuck to volume button
    }

    .volume {
      background-image: url("../assets/Icons/SVG/Icon-volume.svg");
      margin-right: 16px;
    }
  }
}

@media (min-width: 768px) {
  .video {
    &__container {
      margin: 0px 24px;
    }
    &__controls {
      height: 10%;
      width: calc(100% - 48px);
      .scrubBar {
        // justify-content: center;
        &__timeline {
          width: calc(100% - 100px);
          margin-left: 16px;
        }
        &__time {
          margin-left: 16px;
          margin-right: 16px;
          font-size: 10px;
          display: inline-block;
          color: white;
        }
      }

      .play {
        margin-left: 8px;
        margin-right: 16px;
      }

      .fullscreen {
        margin-left: 16px;
      }
      .volume {
        margin-right: 8px;
      }
    }
  }
} //Closes tablet media query

$desktop-video-margin: 248px;
@media (min-width: 1280px) {
  .video {
    height: 38vw;
    &__container {
      margin-left: $desktop-video-margin;
      margin-right: $desktop-video-margin;
    }

    &__controls {
      height: 8%;
      width: calc(100% - calc(2 *#{$desktop-video-margin}));

      .scrubBar {
        // justify-content: center;
        &__timeline {
          width: calc(
            100% - 100px
          ); // Will probably need to change when timestamp font-size changes
        }
        &__time {
          margin-left: 16px;
          font-size: 10px;
          display: inline-block;
          color: white;
        }
      }
      .play {
        margin-left: 16px;
      }

      .volume {
        margin-right: 16px;
      }
    }
  }
}
